:root {
  --color-1: #a19882;
  --color-2: #c2b8a3;
  --color-3: #e6ddc6;
  --color-4: #fef7dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-1);
  background-color: var(--color-4);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-4);
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
}

.homepage a {
  background-color: var(--color-1);
  padding: 8px 20px;
  border-radius: 5px;
  color: var(--color-4);
  font-size: 1.5rem;
  transition: 0.3 all;
}

.homepage a:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

.place-holder {
  height: 7vh;
}
